--allow-external PIL
--allow-unverified PIL
PIL
unittest2
coverage
-e git+http://github.com/enthought/traits.git#egg=traits
-e git+http://github.com/enthought/traitsui.git#egg=traitsui
-e git+http://github.com/enthought/enable.git#egg=enable
