include chaco/*.h
include chaco/tools/toolbars/images*.png
include chaco/tools/toolbars/images*.svg
include chaco/tools/toolbars/images*.txt
include chaco/layers/data/*.svg
include CHANGES.txt
include LICENSE.txt
include image_LICENSE.txt
include dev_requirements.txt
