include chaco/*.h
include chaco/layers/data/*.svg
include chaco/tests/data/PngSuite/*.png
include chaco/tools/toolbars/images*.png
recursive-include chaco *.pyx
graft examples
recursive-exclude examples *.pyc
include README.rst
include CHANGES.txt
include LICENSE.txt
include image_LICENSE.txt
include image_LICENSE_PngSuite.txt
