numpy
nose-exclude
coverage
pillow
unittest2
git+http://github.com/nucleic/kiwi.git#egg=kiwi
git+http://github.com/enthought/traits.git#egg=traits
git+http://github.com/enthought/traitsui.git#egg=traitsui
