name: Test with ETS packages from source

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    # Every Friday at 00:00 UTC
    - cron:  '0 0 * * 5'

env:
  INSTALL_EDM_VERSION: 3.2.3

jobs:

  # Test against EDM packages from source on Linux
  test-ets-source-linux:
    strategy:
      matrix:
        os: [ubuntu-latest]
        toolkit: ['null', 'pyqt5', 'pyside2']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Qt dependencies for Linux
        run: |
          sudo apt-get update
          sudo apt-get install qt5-default
          sudo apt-get install libxkbcommon-x11-0
          sudo apt-get install libglu1-mesa-dev
          sudo apt-get install libxcb-icccm4
          sudo apt-get install libxcb-image0
          sudo apt-get install libxcb-keysyms1
          sudo apt-get install libxcb-randr0
          sudo apt-get install libxcb-render-util0
          sudo apt-get install libxcb-xinerama0
        shell: bash
        if: runner.os == 'Linux'
      - name: Cache EDM packages
        uses: actions/cache@v2
        with:
          path: ~/.cache
          key: ${{ runner.os }}-${{ matrix.toolkit }}-${{ hashFiles('ci/edmtool.py') }}
      - name: Set up EDM
        uses: enthought/setup-edm-action@v1
        with:
          edm-version: ${{ env.INSTALL_EDM_VERSION }}
      - name: Install click to the default EDM environment
        run: edm install -y wheel click coverage
      - name: Install test environment
        run: edm run -- python ci/edmtool.py install --toolkit=${{ matrix.toolkit }} --source
      - name: Run tests
        uses: GabrielBB/xvfb-action@v1
        with:
          # kiva agg requires at least 15-bit color depth.
          # The --server-args assumes xvfb-run is called, hence Linux only.
          run: --server-args="-screen 0 1024x768x24" edm run -- python ci/edmtool.py test --toolkit=${{ matrix.toolkit }}


# Test against EDM packages from source on Windows and OSX
  test-ets-source:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
        toolkit: ['null', 'pyqt5', 'pyside2']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Cache EDM packages
        uses: actions/cache@v2
        with:
          path: ~/.cache
          key: ${{ runner.os }}-${{ matrix.toolkit }}-${{ hashFiles('ci/edmtool.py') }}
      - name: Setup EDM
        uses: enthought/setup-edm-action@v1
        with:
          edm-version: ${{ env.INSTALL_EDM_VERSION }}
      - name: Install click to the default EDM environment
        run: edm install -y wheel click coverage
      - name: Install test environment
        run: edm run -- python ci/edmtool.py install --toolkit=${{ matrix.toolkit }} --source
      - name: Run tests
        run: edm run -- python ci/edmtool.py test --toolkit=${{ matrix.toolkit }}
