# This workflow targets stable released dependencies from EDM.
# Note that some packages may not actually be installed from EDM but from
# PyPI, see ci/edmtool.py implementations.

name: Test with EDM

on: pull_request

env:
  INSTALL_EDM_VERSION: 3.2.3

jobs:

  # Test against EDM packages on Linux
  test-edm-linux:
    strategy:
      matrix:
        toolkit: ['null', 'pyqt5', 'pyside2']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Qt dependencies for Linux
        run: |
          sudo apt-get update
          sudo apt-get install qt5-default
          sudo apt-get install libxkbcommon-x11-0
          sudo apt-get install libglu1-mesa-dev
          sudo apt-get install libxcb-icccm4
          sudo apt-get install libxcb-image0
          sudo apt-get install libxcb-keysyms1
          sudo apt-get install libxcb-randr0
          sudo apt-get install libxcb-render-util0
          sudo apt-get install libxcb-xinerama0
        if: matrix.toolkit != 'null'
        # NOTE : Temporarily needed for building enable from source
        # Should be removed when enable 5.2 is released
      - name: Install GL dependencies necessary to build enable
        run: |
          sudo apt-get update
          sudo apt-get install libglu1-mesa-dev
      - name: Cache EDM packages
        uses: actions/cache@v2
        with:
          path: ~/.cache
          key: ${{ runner.os }}-${{ matrix.toolkit }}-${{ hashFiles('ci/edmtool.py') }}
      - name: Setup EDM
        uses: enthought/setup-edm-action@v1
        with:
          edm-version: ${{ env.INSTALL_EDM_VERSION }}
      - name: Install click to the default EDM environment
        run: edm install -y wheel click coverage
      - name: Install test environment
        run: edm run -- python ci/edmtool.py install --toolkit=${{ matrix.toolkit }}
      - name: Flake8
        run: edm run -- python ci/edmtool.py flake8 --toolkit=${{ matrix.toolkit }}
        if: matrix.toolkit == 'null'
      - name: Run tests
        uses: GabrielBB/xvfb-action@v1
        with:
          # kiva agg requires at least 15-bit color depth.
          # The --server-args assumes xvfb-run is called, hence Linux only.
          run: --server-args="-screen 0 1024x768x24" edm run -- python ci/edmtool.py test --toolkit=${{ matrix.toolkit }}

  # Test against EDM packages on Windows and OSX
  test-with-edm:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
        toolkit: ['null', 'pyqt', 'pyqt5', 'pyside2']
    runs-on: ${{ matrix.os }}
    env:
      # Set root directory, mainly for Windows, so that the EDM Python
      # environment lives in the same drive as the cloned source. Otherwise
      # 'pip install' raises an error while trying to compute
      # relative path between the site-packages and the source directory.
      EDM_ROOT_DIRECTORY: ${{ github.workspace }}/.edm
    steps:
      - uses: actions/checkout@v2
      - name: Cache EDM packages
        uses: actions/cache@v2
        with:
          path: ~/.cache
          key: ${{ runner.os }}-${{ matrix.toolkit }}-${{ hashFiles('ci/edmtool.py') }}
      - name: Setup EDM
        uses: enthought/setup-edm-action@v1
        with:
          edm-version: ${{ env.INSTALL_EDM_VERSION }}
      - name: Install click to the default EDM environment
        run: edm install -y wheel click coverage
      - name: Install test environment
        run: edm run -- python ci/edmtool.py install --toolkit=${{ matrix.toolkit }}
      - name: Run tests
        run: edm run -- python ci/edmtool.py test --toolkit=${{ matrix.toolkit }}
